@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

$Font: 'Montserrat', sans-serif;

// Colors
$light: #fff;
$dark: #000;
$bg-dark: #0A1128;
$bg-medium: #102146;
$bg-light: #034078;

// Font Size
$font-size14: 14px;
$font-size15: 15px;
$font-size16: 16px;
$font-size20: 20px;
$font-size36: 36px;
$font-size48: 48px;


