#purchases {
  .purchases {
    padding: 150px 0 80px 0;

    &--text {
      padding: 0 0 50px 0;
    }

    &--one {
      //display: flex;

      &--text {
        color: #FFF;

        p {
          padding: 20px 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }

        h1 {
          font-size: 36px;
        }
      }

      &--img {
        display: flex;
        //margin: 0 0 0 10rem;

        &__one {
          img {
            width: 60px;
            height: 60px;
          }
        }

        &__two {
          padding: 0 0 0 20px;
          color: #FFF;

          p {
            color: #9099A3;
            padding: 10px 0;
          }
        }
      }

    }
  }
  .make {
    display: flex;

    &--one {
      &__img {
        position: relative;

        img {
          width: 617px;
          height: 400px;
          margin: 20px 0;
        }

        .icons {
          color: red;
          position: absolute;
          bottom: 167px;
          left: 268px;
          font-size: 75px;
        }
      }

      &--page {
        margin: 82px 0;

        &--video {
          display: flex;
          align-items: center;
          margin: 35px 0 0 90px;
          width: 418px;
          height: 70px;
          border-radius: 10px;
          cursor: pointer;
          &:hover {
            transition: 0.8s;
            background: #1B296999;
            transform: scale(1.1);
          }


          &--img {
            padding: 0 0 0 20px;

            img {
              height: 45px;
            }
          }

          &--text {
            padding: 0 0 0 24px;
            color: #FFF;
            font-size: 14px;

            p {
              color: #A5A5A5;
            }
            h1{
              font-size: 15px;
            }
          }
        }

        &--btn {
          margin: 60px 0 0 90px;
          display: flex;

          button {
            padding: 10px 20px;
            border-radius: 10px;
            margin: 0 10px;
            display: flex;
            align-items: center;
            border: none;
          }
        }
      }
    }
  }
  .streams {
    padding: 100px 0;

    &--text {
      color: #FFFFFF;
      font-size: 13px;
      width: 712px;
    }

    &--one {
      &--text {
        padding: 20px 0;

        li {
          color: #FFFFFF;
          margin: 20px 0 0 13px;
          font-size: 20px;
        }
      }
    }

    &--two {
      padding: 108px 0 50px 0;
      &--text {
        color: #FFFFFF;
      }

      &--ul {
        padding: 20px 0;
        li {
          color: #FFFFFF;
          margin: 20px 0 0 13px;
          font-size: 20px;
        }
      }
    }
  }
}

#comments {
  .comments {
    &--h {
      h1{
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
        padding-top: 180px;
        padding-bottom: 50px;
      }
    }
    &--block {
      background: #050C22;
      border-radius: 7.35897px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 20px;
      width: 60%;

      textarea {
        min-width: 95%;
        max-width: 95%;
        min-height: 170px;
        max-height: 170px;
        overflow: hidden;
        background: rgba(27, 41, 89, 0.4);
        border-radius: 7.35897px;
        border: none;
        outline: none;
        font-size: 18px;
        color: #fff;
        padding: 14px 0 0 14px;

      }
      &--btn {
        button{
          font-weight: 500;
          font-size: 14px;
          color: #FFFFFF;
          padding: 18px 55px;
          background: rgba(27, 41, 89, 0.4);
          border-radius: 7.35897px;
          margin-top: 15px;
          border: none;
          outline: none;
        }
      }
    }

  &--left {
    margin: 50px 0;
    &--one {
      display: flex;
      align-items: center;

      &--img {

      }

      &--text {
        margin: 0 20px;

        span {
          color: #FFFFFF;
        }

        &__one {
          display: flex;
          align-items: center;

          h2 {
            color: #FFFFFF;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 10px;
          }

          p {
            color: #9099A3;
            margin-left: 15px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }

    details {
      summary {
        color: #9099A3;
        margin: 0 100px;
        cursor: pointer;
        display: block;
      }

      .summary {
        margin: 30px 100px;
        display: flex;

        &--img {
          h1 {
            background: #044076;
            color: #FFFFFF;
            border-radius: 50%;
            width: 65px;
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &--text {
          margin: 0 30px;

          &--one {
            display: flex;
            align-items: center;

            h1 {
              color: #FFFFFF;
              font-weight: 700;
              font-size: 20px;
              line-height: 24px;
            }
          }

          p {
            color: #FFFFFF;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin: 6px 0;
          }
        }
      }
    }
  }
  }
}
#home-accordion {
  padding: 150px 0;

  .home-accordion {
    .home-info{
      h1{
        color: #FFFFFF;
        padding-bottom: 40px ;
      }
      p{
        color: #A5A5A5;
        padding-bottom: 20px;
      }
    }

    &_desc {
      width: 65%;

      &-accordion {
        width: 100%;
        padding: 20px 0 10px 0;
        border-bottom: 0.5px solid #9099A3;

        input {
          display: none;
        }

        &_label {
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          display: flex;
          align-items: end;
          justify-content: space-between;
          cursor: pointer;
          p {
            margin-right: 100px;
          }

          &-icon {
            font-size: 22px;
          }
        }

        &_content {
          margin-top: 2px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.6s ease-in;

          div {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            padding: 15px 0;
          }
        }

        input:checked + .home-accordion_desc-accordion_label .home-accordion_desc-accordion_label-icon {
          transform: rotate(180deg);
        }

        input:checked ~ .home-accordion_desc-accordion_content {
          max-height: 500px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #purchases {
    .purchases{
      .make{
        display: flex;
        align-items: center;
        flex-direction: column;
        .purchases--one{
          text-align: center;
        }
        .make--one{
          display: flex;
          align-items: center;
          flex-direction: column-reverse;
          .purchases--one--img{
            margin-top: 30px;
          }
          .make--one--page {
            margin: 22px 50px 0 0;
            width: 100%;
            align-items: center;
          }
        }
      }
    }
  }

}
@media (max-width: 992px) {
  #purchases{
    .purchases{
      .purchases--text{
        display: none;
      }
    }
  }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
  #purchases {
    .make--one__img {
      img{
        width: 100%;
        object-fit: cover;
      }
      .icons{
        bottom: 179px;
        left: 221px;
      }
    }

  .streams{
    .streams--text{
      width: 100%;
    }
  }
  }
  #home-accordion{
    .home-accordion_desc{
      width: 100%;
    }
  }
  #comments{
    .comments{
      .comments--block{
        width: 90%;

      }
      .comments--left{
        .summary{
          width: 100%;
        }
      }
    }
  }

}
@media (max-width: 451px) {
  #purchases{
    .purchases{
      .make{
        .make--one{
          width: 100%;
          .make--one--page{
            width: 100%;
            margin: 22px 0;
            .make--one--page--video{
              margin: 35px 0;
              width: 100%;
            }
            .make--one--page--btn{
              width: 100%;
              margin: 60px 0;
            }
          }
        }
        .purchases--one{
          .make--one__img{
            .icons{
              bottom: 179px;
              left: 160px;
            }
          }
        }
      }
    }
  }
  #comments{
    .comments--h{
      h1{
        padding-top: 30px;
      }
    }
    .comments{
      .comments--left details {
        .summary {
          margin: 30px 0 0 20px;
          display: flex;
          width: 100%;
        }
      }

    }
  }
}
@media (max-width: 400px) {
  #purchases{
    .purchases{
      .make{
        .purchases--one{
          .make--one__img{
            img{
              height: 100%;
            }
            .icons {
              bottom: 109px;
              left: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }

}
@media (max-width: 376px) {
  #purchases .purchases .make .purchases--one .make--one__img .icons {
    bottom: 90px;
    left: 0;
    width: 100%;
  }
  #comments {
    .comments {
      .comments--block{
        width: 90%;

      }
      &--left {
        &--one {
          display: flex;
          align-items: center;
          width: 100%;

          &--img {

            img {
              width: 100%;
            }
          }

          &--text {
            span {
              font-size: 11px;
            }

            h2 {
              font-size: 11px;
            }

            p {
              font-size: 10px;
            }
          }
        }

        details {
          summary {
            margin: 30px 0 0 20px;
            display: flex;
            width: 100%;
            font-size: 15px;
          }

          .summary {
            margin: 20px 0;

            &--img {
              h1 {
                font-size: 26px;
                width: 40px;
                height: 40px;
              }
            }

            &--text {
              p {
                font-size: 10px;
              }

              &--one {
                h1 {
                  font-size: 12px;
                }

                p {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  #purchases {
    .purchases {
      .make {
        &--one {
          &--page {
            &--video {
              &--text {
                font-size: 12px;
              }
            }
            &--btn{
              button{
                margin: 0 2px;
              }
            }
          }
        }
      }
    }
  }

  #purchases .purchases .make .purchases--one .make--one__img .icons {
    bottom: 90px;
    left: 0;
    width: 100%;
  }
  #comments {
    .comments {
      .comments--block{
        width: 88%;

      }
      &--left {
        &--one {
          display: flex;
          align-items: center;
          width: 100%;

          &--img {

            img {
              width: 100%;
            }
          }

          &--text {
            span {
              font-size: 10px;
            }

            h2 {
              font-size: 10px;
            }

            p {
              font-size: 7px;
            }
          }
        }

        details {
          summary {
            margin: 30px 0 0 20px;
            display: flex;
            width: 100%;
            font-size: 13px;
          }

        .summary {
          margin: 20px 0;

          &--img {
            h1 {
              font-size: 26px;
              width: 40px;
              height: 40px;
            }
          }

          &--text {
            p {
              font-size: 10px;
            }

            &--one {
              h1 {
                font-size: 12px;
              }

              p {
                font-size: 14px;
              }
            }
          }
        }
        }
      }
    }
  }
}